<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">
     <h:head>
	
	</h:head>
	<ui:composition template="registro.xhtml">
	<ui:define name="titulo2">
        				Gestion Cliente
   					 </ui:define>
		<ui:define name="titulo1">
        				Crear Cliente
   					 </ui:define>
		 <ui:define name="contentTabla">
					<h:form>
			                <p:panel>
                    <h:form id="frmNotaCredito">
                    
                    <h:commandButton action="AdministradorClientesCrear" value="Nuevo Cliente" class="btn btn-success" />
                        <p:dataTable id="tabla"  var="usuario" value="#{usuarioBean.usuarios}">
                            <p:column width="50" headerText="Cedula">
                            	<h:outputText value="#{usuario.cedula}" />
                                <h:outputText />                               
                            </p:column>
                            <p:column width="50" headerText="Nombre">
                           	 <h:outputText value="#{usuario.nombre}" />
                                <h:outputText />
                            </p:column>
                            <p:column width="50" headerText="Apellido">
                            	<h:outputText value="#{usuario.apellido}" />
                                <h:outputText/>
                              
                            </p:column>    
                            <p:column width="50" headerText="Gmail">
                            	<h:outputText value="#{usuario.correo}"/>
                                <h:outputText/>
                              
                            </p:column>                                                                         
                            <p:column width="30" headerText="Password">
                            <h:outputText value="#{usuario.password}" />
                                <h:outputText />
                            </p:column>
                            
                           <p:column width="65" headerText="Acciones" >
							      <h:commandButton action="#{usuarioBean.editar(usuario.cedula)}" 
									value="EDITAR" class="btn btn-success">
									<f:ajax render="tabla" />
								</h:commandButton>
								<!-- pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light -->
								<h:commandButton
									action="#{usuarioBean.eliminar(usuario.cedula)}"
									value="ELIMINAR" class="btn btn-danger" onclick="alerta()">
									<f:ajax render="@form" execute="@form" />
								</h:commandButton>                         
						  </p:column>
						
                        </p:dataTable>                  
                    </h:form>
                </p:panel>
		
		</h:form>
	</ui:define>
	</ui:composition>
</html>