<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrought" xmlns:p="http://primefaces.org/ui">
<h:head>
	<f:metadata>
		<f:viewParam name="cedula" value="#{usuarioBean.cedula}" />
	</f:metadata>
</h:head>

	 

<ui:composition template="registrocrear.xhtml">
   			<script type="gmail/javascript">
				
				$(document).ready(function(){
					$("inputText#Correo").on("keyup",function(){
						var valor = $(this).val();
						$("inputText#User").html(valor);
					});
					
				});

			</script>
			<script>
				$(document).ready(function () {
				  $('#mostrar_contrasena').click(function () {
				    if ($('#mostrar_contrasena').is(':checked')) {
				      $('#contrasena').attr('type', 'text');
				    } else {
				      $('#contrasena').attr('type', 'password');
				    }
				  });
				});
            </script>
	<ui:define name="titulo2">
        				Gestion Cuenta
   					 </ui:define>
	<ui:define name="titulo1">
        				Cuenta
   		</ui:define>
	<ui:define name="content">

		<h:form class="form-horizontal form-material">
			
			
			<h:panelGrid id="panel" columns="6" cellpadding="20" style="margin-bottom:10px">
				<p:outputLabel for="Cedula" value="Cedula" />
				<p:inputText id="Cedula" value="#{usuarioBean.usuario.cedula}"
					required="true" label="Cedula" size="30" />
				<p:message for="Cedula"/>
				

				<p:outputLabel for="Nombre" style="color: #000000" value="Nombre" />
				<p:inputText id="Nombre" value="#{usuarioBean.usuario.nombre}"
					required="true" label="Nombre" size="30"  />
				<p:message for="Nombre"/>

				<p:outputLabel for="Apellido" value="Apellido" />
				<p:inputText id="Apellido" value="#{usuarioBean.usuario.apellido}"
					required="true" label="Apellido" size="30"  />
				<p:message for="Apellido"/>

				<p:outputLabel for="Direccion" value="Direccion" />
				<p:inputText id="Direccion"
					value="#{usuarioBean.usuario.direccion}" required="true"
					label="Direccion" size="30"  />
				<p:message for="Direccion"/>

				<p:outputLabel for="Correo" value="Correo" />
				<p:inputText id="Correo" value="#{usuarioBean.usuario.correo}" type="gmail"
					required="true" label="Correo" size="30"  />
				<p:message for="Correo"/>

				<p:outputLabel for="Password" value="Password" />
				<p:inputText id="Password" value="#{usuarioBean.usuario.password}"
					required="true" label="Password" size="30"  />
				<p:message for="Password"/>
			<p:outputLabel/>
			</h:panelGrid>
			<h:panelGrid id="panel1" columns="6" >
			
				<p:outputLabel for="NumCuenta" value="NumCuenta"/>
				<p:inputText id="NumCuenta" value="#{usuarioBean.cuenta.numeroCuenta}"
					required="true" label="NumCuenta" size="30"  />
				<p:message for="NumCuenta"/>
				
					<p:outputLabel for="Saldo" value="Saldo" />
				<p:inputText id="Saldo" value="#{usuarioBean.cuenta.saldoCuenta}" disabled="true"
					required="true" label="Saldo" size="30"  />
				<p:message for="Saldo"/>

			
			</h:panelGrid>

			<!-- /.card-body -->
			<div class="card-footer">
				<h:commandButton action="#{usuarioBean.guardarDatosUsuario()}"
					value="Guardar" class="btn btn-success" />
			</div>

		</h:form>
	</ui:define>

</ui:composition>
</html>