<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">
      
     <h:head>
     
	</h:head>
	<ui:composition template="registro.xhtml">
	    <ui:define name="titulo2">
        				Gestion Usuario
   					 </ui:define>

	<ui:define name="contentTabla">
			<h:form>
			                <p:panel>
                    <h:form id="frmNotaCredito">
                    <h:commandButton action="AdministradorUsuarioCrear" value="Nuevo Usuario" class="btn btn-success" />
                        <p:dataTable id="tabla"  var="empleado" value="#{empleadoBean.empleados}">
                            <p:column width="50" headerText="Cedula">
                            	<h:outputText value="#{empleado.cedula}" />
                                <h:outputText />                               
                            </p:column>
                            <p:column width="50" headerText="Nombre">
                           	 <h:outputText value="#{empleado.nombre}" />
                                <h:outputText />
                            </p:column>
                            <p:column width="50" headerText="Apellido">
                            	<h:outputText value="#{empleado.apellido}" />
                                <h:outputText/>
                              
                            </p:column>    
                            <p:column width="50" headerText="Gmail">
                            	<h:outputText value="#{empleado.correo}" />
                                <h:outputText/>
                              
                            </p:column>                                               
                            <p:column width="50" headerText="Cargo">
                            <h:outputText value="#{empleado.cargo}" />
                                <h:outputText />

                            </p:column>                                                 

                            <p:column width="30" headerText="Password">
                            <h:outputText value="#{empleado.password}"  type="password"/>
                                <h:outputText />
                            </p:column>
                            
                           <p:column width="90" headerText="Acciones" >    
							      <h:commandButton action="#{empleadoBean.editar(empleado.cedula)}" 
									value="EDITAR" class="btn btn-success">
									<f:ajax render="tabla" />
								</h:commandButton>
								
								<!-- pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light -->
								<h:commandButton id="uno"
									action="#{empleadoBean.eliminar(empleado.cedula)}"
									value="ELIMINAR" class="btn btn-danger" onclick="alerta()">
									<f:ajax render="@form" execute="@form" />
								</h:commandButton>                         
						  </p:column>
                        </p:dataTable>                  
                    </h:form>
                </p:panel>
		
		</h:form>
		</ui:define>
</ui:composition>
</html>