<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">
     <h:head>
		<f:metadata>
			<f:viewParam name="cedula" value="#{empleadoBean.cedula}"></f:viewParam>		
    </f:metadata>
	
	</h:head>
<ui:composition template="registrocrear.xhtml">
	<ui:define name="titulo2">
        				Gestion Usuario
   					 </ui:define>
	<ui:define name="titulo1">
        				Crear Usuario
   					 </ui:define>
	<ui:define name="content">
		<h:form id="crear" class="form-horizontal form-material">
			
			<h:panelGrid id="panel" columns="6" cellpadding="25" style="margin-bottom:10px">
			<br/><br/>
				<p:outputLabel for="Cedula" value="Cedula" />
				<p:inputText id="Cedula" value="#{empleadoBean.empleado.cedula}"
					required="true" label="Cedula" size="30" />
			
				<p:message for="Cedula"/>
				
				
				<p:outputLabel for="Nombre" style="color: #000000" value="Nombre" />
				<p:inputText id="Nombre" value="#{empleadoBean.empleado.nombre}"
					required="true" label="Nombre" size="30"/>
				<p:message for="Nombre"/>

				
				<p:outputLabel for="Apellido" value="Apellido" />
				<p:inputText id="Apellido" value="#{empleadoBean.empleado.apellido}"
					required="true" label="Apellido" size="30" />
				<p:message for="Apellido"/>

				<p:outputLabel for="Direccion" value="Direccion" />
				<p:inputText id="Direccion"
					value="#{empleadoBean.empleado.direccion}" required="true"
					label="Direccion" size="30"/>
				<p:message for="Direccion" />

				<p:outputLabel for="Correo" value="Correo" />
				<p:inputText id="Correo" value="#{empleadoBean.empleado.correo}"
					required="true" label="Correo" size="30" />
				<p:message for="Correo"  />

				<p:outputLabel for="Cargo" value="Cargo" />
				<h:selectOneMenu id="Cargo" value="#{empleadoBean.empleado.cargo}"
					required="true" label="Cargo" class="form-control select2"
					style="width: 100%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="Cajero" itemValue="Cajero" />
					<f:selectItem itemLabel="JefeCredito" itemValue="JefeCredito" />
				</h:selectOneMenu>
				<p:message for="Cargo" />
                        
                        <p:outputLabel for="Password" value="Password"/>
                        <p:inputText id="Password" value="#{empleadoBean.empleado.password}" required="true" label="Password" size="30"/>
                        <p:message for="Password"/> 

			</h:panelGrid>
			<div class="card-footer">
				<h:commandButton action="#{empleadoBean.guardarDatosEmpleado()}" 
								 value="Guardar" class="btn btn-success" style="width:200px;"/>
				
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>