<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:metadata>
		<f:viewParam name="ncuenta" value="#{loginBean.ncuenta}" id="ncuenta" />
		<f:viewParam name="temporal" value="#{loginBean.temporal}" id="temp" />
		<f:viewParam name="cedula" value="#{loginBean.cedula}" id="cedul" />
	</f:metadata>

</h:head>
<ui:composition template="registrovistaclient.xhtml">
	<ui:define name="titulo2">
        				Gestion Cliente
   					 </ui:define>

	<ui:define name="contentTabla">
		<h:form>
			<p:panel>
				<h:form id="frmNotaCredito">
					<p:toolbar>
						<f:facet name="left">
							<h:commandButton
								action="#{transaccionBean.verTransacciones(loginBean.ncuenta)}"
								value="Historial Transacciones" class="btn btn-success" />

							<span class="ui-separator"> <span
								class="ui-icon pi pi-ellipsis-v" />
							</span>

							<h:commandButton
								action="#{transaccionBean.paginaSolicitud(loginBean.ncuenta)}"
								value="Solictud de Credito" class="btn btn-success" />
							<span class="ui-separator"> <span
								class="ui-icon pi pi-ellipsis-v" />
							</span>

							<h:commandButton
								action="#{transaccionBean.verSolicitudes(loginBean.ncuenta)}"
								value="Listado Solicitudes Creditos" class="btn btn-success" />


						</f:facet>
					</p:toolbar>
					<span class="ui-separator"> <span
						class="ui-icon pi pi-ellipsis-v" />
					</span>
					<p:dataTable class="table table-bordered" var="cuenta" id="table"
						value="#{cuentaAhorroBean.loadDataCuentaAhorro(loginBean.ncuenta)}">

						<p:column width="50" headerText="Numero Cuenta">
							<h:outputText value="#{cuenta.numeroCuenta}" />

							<h:outputText />

						</p:column>
						<p:column width="50" headerText="Titular">
							<h:outputText value="#{cuenta.usuario.nombre}" /> 
							&nbsp;
							<h:outputText value="#{cuenta.usuario.apellido}" />
							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Fecha Ultima Transaccion">
							<h:outputText value="#{loginBean.temporal}" />
							<h:outputText />
						</p:column>

						<p:column width="50" headerText="Saldo">
							<h:outputText value="#{cuenta.saldoCuenta}" />
							<h:outputText />
						</p:column>

					</p:dataTable>

				</h:form>

			</p:panel>

		</h:form>
				<p:panel>
				<h:form id="frm1">
					<p:dataTable id="tablaa" var="prestamo"
						value="#{loginBean.loadDataPrestamos(loginBean.ncuenta)}">
						<p:column width="50" headerText="Codigo">
							<h:outputText value="#{prestamo.codigo}" />

							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Tipo Prestamo">
							<h:outputText value="#{prestamo.tipo}" />

							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Valor Credito">
							<h:outputText value="#{prestamo.monto}" />

							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Saldo">
							<h:outputText value="#{prestamo.saldo}" />

							<h:outputText />
							</p:column>
						<p:column width="50" headerText="Fecha Vencimiento">
							<h:outputText value="#{prestamo.fechaFin}" />

							<h:outputText />
						</p:column>
						
						<p:column width="90" headerText="Acciones" >   
							 <h:commandButton action="#{verEstadoSolicitud.verPagos(prestamo.codigo)}" value="Lista Pagos" class="btn btn-success">
									<f:ajax render="table"/>
						     </h:commandButton>
               
						  </p:column>
						   
					</p:dataTable>
					
				</h:form>
			</p:panel>
	</ui:define>

	<ui:define name="contentTablas">
		<h:form>
			<p:panel>
				<h:form id="frm">
					<p:dataTable id="tabla" var="sesion"
						value="#{loginBean.loadDataSesion(loginBean.cedula)}">
						<p:column width="50" headerText="Id">
							<h:outputText value="#{sesion.id}" />

							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Fecha">
							<h:outputText value="#{sesion.fecha}" />
							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Descripcion">
							<h:outputText value="#{sesion.estado}" />
							<h:outputText />
						</p:column>

					</p:dataTable>
				</h:form>
			</p:panel>
			<p:panel>
					<h:form>

		</h:form>
		</p:panel>
		</h:form>
	</ui:define>



	
	

</ui:composition>
</html>