<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<f:metadata>
			<f:viewParam name="codigo" value="#{solicitudCreditoBean.codigo}"></f:viewParam>		
    </f:metadata>

</h:head>
<ui:composition template="solicitudTemplate.xhtml">


	<ui:define name="titulo2">
        				Aprobacion de Solicitud
   					 </ui:define>
	<ui:define name="titulo1">
        				Cuenta
   					 </ui:define>
	<ui:define name="contentTabla">
		
				<p:inputText id="Cuenta" value="#{solicitudCreditoBean.recibir2(param['codigo'])}"
					 label="Cuenta" size="20" style="display:none"/>
					 

				<p:outputLabel for="NuemroCuenta" value="Nuemro Cuenta" style="display:none"/>
				<p:inputText id="NuemroCuenta" value="#{solicitudCreditoBean.recibir(solicitudCreditoBean.solicitud.cuentaAhorro.numeroCuenta)}"

					required="true" label="NuemroCuenta" size="20" style="display:none" />
				<p:message for="NuemroCuenta"/>
				<p:outputLabel for="EstadoCalculado" value="Estado Calculado"/>
				<p:inputText id="EstadoCalculado" value="#{solicitudCreditoBean.consumiendoServicoPython()}"
					required="true" label="EstadoCalculado" size="20" />

		<h:form id="crear" class="form-horizontal form-material" >
			
			<h:panelGrid id="panel" columns="6" cellpadding="20" style="margin-bottom:1px">
			<br/><br/>
			<p:outputLabel for="NuemroCuent" value="Nuemro"/>
				<p:inputText id="NuemroCuent" value="#{solicitudCreditoBean.solicitud.id}"
					required="true" label="NuemroCuent" size="20"  />	
				<p:message for="NuemroCuent"/>

				
				<p:outputLabel for="PlazodeCreditoMeses" value="PlazodeCreditoMeses"/>
				<p:inputText id="PlazodeCreditoMeses" value="#{solicitudCreditoBean.solicitud.plazoCredito}"
					required="true" label="PlazodeCreditoMeses" size="20" />
				<p:message for="PlazodeCreditoMeses"/>
				
				<p:outputLabel for="Proposito" value="Proposito"/>
				<p:inputText id="Proposito" value="#{solicitudCreditoBean.solicitud.propositoCredito}"
					required="true" label="Proposito" size="20" />
				<p:message for="Proposito"/>
                
				<p:outputLabel for="Monto" value="Monto de Credito"/>
				<p:inputText id="Monto" value="#{solicitudCreditoBean.solicitud.montoCredito}"
					required="true" label="Monto" size="20" />
				<p:message for="Monto"/>
				
				<p:outputLabel for="Tiempo" value="Tiempo"/>
				<p:inputText id="Tiempo" value="#{solicitudCreditoBean.solicitud.tiempoEmpleo}"
					required="true" label="Tiempo" size="20" />
				<p:message for="Tiempo"/>
				
				<p:outputLabel for="EstadoCivil" value="Estado Civil"/>
				<p:inputText id="EstadoCivil" value="#{solicitudCreditoBean.solicitud.estadoCivil}"
					required="true" label="EstadoCivil" size="20" />
				<p:message for="EstadoCivil"/>
				
				
				<p:outputLabel for="Avaluo" value="Avaluo de Vivienda"/>
				<p:inputText id="Avaluo" value="#{solicitudCreditoBean.solicitud.avaluoVivienda}"
					required="true" label="Avaluo" size="20" />
				<p:message for="Avaluo"/>
				
				<p:outputLabel for="Activos" value="Activos"/>
				<p:inputText id="Activos" value="#{solicitudCreditoBean.solicitud.activos}"
					required="true" label="Activos" size="20" />
				<p:message for="Activos"/>
				
				<p:outputLabel for="Tipov" value="Tipo vivienda"/>
				<p:inputText id="Tipov" value="#{solicitudCreditoBean.solicitud.tipoVivienda}"
					required="true" label="Tipov" size="20" />
				<p:message for="Tipov"/>
				
				<p:outputLabel for="Tipoe" value="Tipo Empleo"/>
				<p:inputText id="Tipoe" value="#{solicitudCreditoBean.solicitud.tipoEmpleo}"
					required="true" label="Tipoe" size="20" />
				<p:message for="Tipoe"/>
				
				<p:outputLabel for="Trabajador" value="Trabajador Extranjero"/>
				<p:inputText id="Trabajador" value="#{solicitudCreditoBean.solicitud.trabajorExtranjero}"
					required="true" label="Tipoe" size="20" />
				<p:message for="Trabajador"/>
				
				<p:outputLabel for="Estado" value="Estado" />
				<h:selectOneMenu id="Estado" value="#{solicitudCreditoBean.solicitud.estado}"
					required="true" label="Estado" class="form-control select2"
					style="width: 100%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="Aprobado" itemValue="Aprobado" />
					<f:selectItem itemLabel="Denegado" itemValue="Denegado" />	
				</h:selectOneMenu>
				<p:message for="Trabajador" />
			</h:panelGrid>
			
			<div class="card-footer">
				<h:commandButton action="#{solicitudCreditoBean.estadoSolicitud()}"
								 value="Guardar" class="btn btn-success" style="width:200px;"/>
				
			</div>
			
		</h:form>
	</ui:define>
</ui:composition>
</html>