<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>


</h:head>
<ui:composition template="registroTransaciones.xhtml">
	<ui:define name="titulo2">
        				Gestion Credito
   					 </ui:define>

	<ui:define name="content">
		
				<h:form id="frmNotaCredito">
					<p:toolbar>
						<f:facet name="left">
						<h:inputText value="#{loginBean.numc}" />
						
						<span class="ui-separator"> <span
								class="ui-icon pi pi-ellipsis-v" />
							</span>
							
							<h:commandButton action="#{loginBean.loadDataPrestamos(loginBean.numc)}"
								value="Buscar" class="btn btn-success" update="tablaa" >
								<f:ajax render="@form" execute="@form" />
							</h:commandButton>
							
						</f:facet>
					</p:toolbar>
					<span class="ui-separator"> <span
						class="ui-icon pi pi-ellipsis-v" />
					</span>
		
					<p:dataTable id="tablaa" var="prestamo" value="#{loginBean.prestamos}">
						
						<p:column width="50" headerText="Codigo">
							<h:outputText value="#{prestamo.codigo}" />

							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Tipo Prestamo">
							<h:outputText value="#{prestamo.tipo}" />

							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Valor Credito">
							<h:outputText value="#{prestamo.monto}" />

							<h:outputText />
						</p:column>
						<p:column width="50" headerText="Saldo">
							<h:outputText value="#{prestamo.saldo}" />

							<h:outputText />
							</p:column>
						<p:column width="50" headerText="Fecha Vencimiento">
							<h:outputText value="#{prestamo.fechaFin}" />

							<h:outputText />
						</p:column>
						
						<p:column width="90" headerText="Acciones" >   
							 <h:commandButton action="#{verEstadoSolicitud.verPagosCajero(prestamo.codigo)}" value="Lista Pagos" class="btn btn-success">
									<f:ajax render="table"/>
						     </h:commandButton>
							                        
						  </p:column>
					</p:dataTable>
				</h:form>
		
	</ui:define>


</ui:composition>
</html>