<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<f:metadata>
		<f:viewParam name="ncuenta" value="#{solicitudCreditoBean.numcuenta}"
			id="ncuenta" />
	</f:metadata>

</h:head>
<ui:composition template="solicitudTemplate.xhtml">


	<ui:define name="titulo2">
        				Gestion Solicitud de Credito
   					 </ui:define>
	<ui:define name="titulo1">
        				Cuenta
   					 </ui:define>
	<ui:define name="contentTabla">

		<p:inputText id="Cuenta"
			value="#{solicitudCreditoBean.recibir(param['numcuenta'])}"
			label="Cuenta" size="20" style="display:none" />

		<h:form id="crear" class="form-horizontal form-material"
			enctype="multipart/form-data">
			<script>
					function alerta() {
						alert("Realizar Solicitud");
					}
			</script>

			<h:panelGrid id="panel" columns="6" cellpadding="15"
				style="margin-bottom:1px">
				<br />
				<br />



				<p:outputLabel for="NuemroCuenta" value="Numero Cuenta" />
				<p:inputText id="NuemroCuenta"
					value="#{solicitudCreditoBean.numcuenta}" required="true"
					label="NuemroCuenta" size="15" />
				<p:message for="NuemroCuenta" />

				<p:outputLabel for="PlazodeCreditoMeses" value="PlazodeCreditoMeses" />
				<p:inputText id="PlazodeCreditoMeses"
					value="#{solicitudCreditoBean.solicitud.plazoCredito}"
					required="true" label="PlazodeCreditoMeses" size="15" />
				<p:message for="PlazodeCreditoMeses" />

				<p:outputLabel for="Proposito" value="Proposito de Credito" />
				<h:selectOneMenu id="Proposito"
					value="#{solicitudCreditoBean.solicitud.propositoCredito}"
					required="true" label="Proposito" class="form-control select2"
					style="width: 90%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="inmuebles(casa,finca,etc)"
						itemValue="inmuebles(casa,finca,etc)" />
					<f:selectItem itemLabel="automovil" itemValue="automovil" />
					<f:selectItem itemLabel="muebles/equipamiento"
						itemValue="muebles/equipamiento" />
					<f:selectItem itemLabel="tecnologia" itemValue="tegnologia" />
					<f:selectItem itemLabel="electrodomesticos"
						itemValue="electrodomesticos" />
					<f:selectItem itemLabel="reparaciones" itemValue="reparaciones" />
					<f:selectItem itemLabel="educacion" itemValue="educacion" />
					<f:selectItem itemLabel="vacaciones" itemValue="vacaciones" />
					<f:selectItem itemLabel="capacitacion" itemValue="capacitacion" />
					<f:selectItem itemLabel="negocios" itemValue="negocios" />
					<f:selectItem itemLabel="otros" itemValue="otros" />
				</h:selectOneMenu>
				<p:message for="Proposito" />

				<p:outputLabel for="Monto" value="Monto de Credito" />
				<p:inputText id="Monto"
					value="#{solicitudCreditoBean.solicitud.montoCredito}"
					required="true" label="Monto" size="15" />
				<p:message for="Monto" />

				<p:outputLabel for="Tiempo" value="Tiempo de Empleo" />
				<h:selectOneMenu id="Tiempo"
					value="#{solicitudCreditoBean.solicitud.tiempoEmpleo}"
					required="true" label="Tiempo" class="form-control select2"
					style="width: 90%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="desempleado" itemValue="desempleado" />
					<f:selectItem itemLabel="menor 1 año" itemValue="menor 1 año" />
					<f:selectItem itemLabel="1 a 4 años" itemValue="1 a 4 años" />
					<f:selectItem itemLabel="4 a 7 años" itemValue="4 a 7 años" />
					<f:selectItem itemLabel="mayor a 7 años" itemValue="mayor a 7 años" />
				</h:selectOneMenu>

				<p:message for="Tiempo" />
				<p:outputLabel for="Estado" value="Estado Civil" />
				<h:selectOneMenu id="Estado"
					value="#{solicitudCreditoBean.solicitud.estadoCivil}"
					required="true" label="Estado" class="form-control select2"
					style="width: 65%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="masculino:divorciado/separado"
						itemValue="masculino:divorciado/separado" />
					<f:selectItem itemLabel="femenino:divorciada/separada/casada"
						itemValue="femenino:divorciada/separada/casada" />
					<f:selectItem itemLabel="masculino:soltero"
						itemValue="masculino:soltero" />
					<f:selectItem itemLabel="masculino:casado/viudo"
						itemValue="masculino:casado/viudo" />
					<f:selectItem itemLabel="femenino:soltera"
						itemValue="femenino:soltera" />
				</h:selectOneMenu>
				<p:message for="Estado" />

				<p:outputLabel for="Avaluo" value="Avaluo de Vivienda" />
				<p:inputText id="Avaluo"
					value="#{solicitudCreditoBean.solicitud.avaluoVivienda}"
					required="true" label="Avaluo" size="15" />
				<p:message for="Avaluo" />

				<p:outputLabel for="Activos" value="Activos" />
				<h:selectOneMenu id="Activos"
					value="#{solicitudCreditoBean.solicitud.activos}" required="true"
					label="Activos" class="form-control select2" style="width: 65%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="Bienes Inmuebles"
						itemValue="Bienes Inmuebles" />
					<f:selectItem itemLabel="Seguro de Vida y plan de construccion"
						itemValue="Seguro de Vida y plan de construccion" />
					<f:selectItem itemLabel="Automovil u otro"
						itemValue="Automovil u otro" />
					<f:selectItem itemLabel="desconocido/sin propiedad"
						itemValue="desconocido/sin propiedad" />
				</h:selectOneMenu>
				<p:message for="Activos" />

				<p:outputLabel for="Tipov" value="Tipo vivienda" />
				<h:selectOneMenu id="Tipov"
					value="#{solicitudCreditoBean.solicitud.tipoVivienda}"
					required="true" label="Tipov" class="form-control select2"
					style="width: 90%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="gratis" itemValue="gratis" />
					<f:selectItem itemLabel="alquiler" itemValue="alquiler" />
					<f:selectItem itemLabel="propio" itemValue="propio" />
				</h:selectOneMenu>
				<p:message for="Tipov" />

				<p:outputLabel for="Tipoe" value="Tipo Empleo" />
				<h:selectOneMenu id="Tipoe"
					value="#{solicitudCreditoBean.solicitud.tipoEmpleo}"
					required="true" label="Tipoe" class="form-control select2"
					style="width: 65%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="desempleado" itemValue="desempleado" />
					<f:selectItem itemLabel="jubilado" itemValue="jubilado" />
					<f:selectItem itemLabel="empleado" itemValue="empleado" />
					<f:selectItem itemLabel="autonomo" itemValue="autonomo" />
				</h:selectOneMenu>
				<p:message for="Tipoe" />
				<p:outputLabel for="Trabajador" value="Trabajador Extranjero" />
				<h:selectOneMenu id="Trabajador"
					value="#{solicitudCreditoBean.solicitud.trabajorExtranjero}"
					required="true" label="Trabajador" class="form-control select2"
					style="width: 90%;">
					<f:selectItem itemLabel="Seleccione" itemValue="Selecione" />
					<f:selectItem itemLabel="si" itemValue="si" />
					<f:selectItem itemLabel="no" itemValue="no" />
				</h:selectOneMenu>
				<p:message for="Trabajador" />

				Cedula Dijital<br />
				<p:fileUpload class="etiqueta" value="#{solicitudCreditoBean.filec}"
					mode="simple" label="Cedula" />
				Planilla<br />
				<p:fileUpload class="etiqueta1" value="#{solicitudCreditoBean.filep}" mode="simple" label="Cedul"/>
				Rol de Pagos<br />
				<p:fileUpload class="etiqueta2" value="#{solicitudCreditoBean.filer}" mode="simple" label="Cedu"/>
 

			</h:panelGrid>
			<div class="card-footer">
				<h:commandButton action="#{solicitudCreditoBean.guardarSolicitud()}"
					value="Enviar Solicitud" class="btn btn-success"
					style="width:200px;" onclick="alerta()"/>

			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>