<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
			

</h:head>
<ui:composition template="registrovistajefecredito.xhtml">


	<ui:define name="titulo2">
        				Solicitudes de Credito
   					 </ui:define>
	<ui:define name="titulo1">
        				Cuenta
   					 </ui:define>
	<ui:define name="contentTabla">

				<h:form id="list">
							<p:dataTable class="table table-bordered" var="s" id="table"
								value="#{solicitudCreditoBean.solicitudes2}" >
								
								<p:column width="50" headerText="Nombre">
									<h:outputText value="#{s.nombre}" />
										 
									<h:outputText />
									
								</p:column>
								<p:column width="50" headerText="Apellido">
									<h:outputText value="#{s.apellido}" />
										 
									<h:outputText />
									
								</p:column>
								<p:column width="50" headerText="Cedula">
									<h:outputText value="#{s.cedula}" />
										 
									<h:outputText />
									
								</p:column>
								<p:column width="50" headerText="Numero Cuenta">
									<h:outputText value="#{s.numeroCuenta}" />
										 
									<h:outputText />
									
								</p:column>
								<p:column width="50" headerText="Codigo Solicitud">
									<h:outputText value="#{s.id}" />
										 
									<h:outputText />
									
								</p:column>
								<p:column width="50" headerText="Monto Credito">
									<h:outputText value="#{s.montoCredito}" />
										 
									<h:outputText />
									
								</p:column>
								<p:column width="50" headerText="Plazo Credito">
									<h:outputText value="#{s.plazoCredito}" />
										 
									<h:outputText />
									
								</p:column>
								<!--
								<p:column width="50" headerText="Cedula D">
									
									<h:outputText value="#{s.cedulaImagen}" />
										 
									<h:outputText />
									
								</p:column>
								-->
								    <p:column width="90" headerText="Acciones" >   
								   
									
							      <h:commandButton action="#{solicitudCreditoBean.revisarSolicitud(s.id)}" value="Revisar Solicitud" class="btn btn-success">
									<f:ajax render="table"/>
								</h:commandButton>
							                        
						  </p:column>
								
							</p:dataTable>

				
				</h:form>


	</ui:define>
</ui:composition>
</html>