<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<f:metadata>
		<f:viewParam name="numcuenta" value="#{solicitudCreditoBean.numcuenta}" id="cuenta" />
	</f:metadata>
</h:head>
<ui:composition template="registrovistatransaccion.xhtml">


	<ui:define name="titulo2">
        				Solicitudes
   					 </ui:define>
	<ui:define name="titulo1">
        				Cuenta
   					 </ui:define>
	<ui:define name="contentTabla">
		<div class="ContainerIndent">
			<p:panel id="pnlPrincipal">
				<h:form>
					<div class="card">
						<!-- /.card-header -->
						<div class="card-body">
							<!-- aqui -->
							<!-- final -->
							<p:dataTable class="table table-bordered" var="s" id="table"
							             value="#{solicitudCreditoBean.loadDataSolicitudes(solicitudCreditoBean.numcuenta)}">
								
								<p:column width="50" headerText="Id">
									<h:outputText value="#{s.id}" />
									<h:outputText />
								</p:column>
								<p:column width="50" headerText="Estado">
									<h:outputText value="#{s.estado}" />
									<h:outputText />
								</p:column>
								<p:column width="50" headerText="Monto de Credito">
									<h:outputText value="#{s.montoCredito}" />
									<h:outputText />
								</p:column>
								<p:column width="50" headerText="PlazoCredito/Meses">
									<h:outputText value="#{s.plazoCredito}" />
									<h:outputText />
								</p:column>

							</p:dataTable>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
					
				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>
</html>